@CHARSET "ISO-8859-1";
.header {
	height: 150px;
	width: 100%;
	background: red;
}
.body {
	width: 100%;
	margin-top: 152px;
	margin-bottom: 152px;
	height: ;
	background: blue;
	border: 1px solid red;
}
.footer {
	height: 150px;
	width: 100%;	
	background: yellow;
}
/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
	border: 1px solid blue;
	overflow:auto;
	padding-bottom: 184px;
}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -184px; /* negative value of footer height */
	height: 180px;
	clear:both;
	border: 1px solid red;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}